.footer-container {
  background-color: #262626;
  margin: 26px;
  justify-content: center;
  align-items: center;
  height: 48px;
}

.footer-text {
  color: #636366;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 48px;
}
