.search-container {
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 626px;
  height: 48px;
}

.search-input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 24px;
  gap: 24px;

  width: 460px;
  height: 48px;

  background: rgba(31, 31, 31, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 80px;
}

.search-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  width: 150px;
  height: 48px;
  background: #e10856;
  box-shadow: 0px 16px 16px 4px rgba(0, 0, 0, 0.12);
  border-radius: 40px;
  color: #ffffff;
  text-shadow: 0px 40px 40px rgba(0, 0, 0, 0.12);
  font-family: "Roboto";

  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
